.swiperContainer {
    > div {
        align-items: center;
    }
}

.swiper_img {
    max-width: 100%;
    width: 100%;
}

.partners {
    padding: 100px 0 50px;
    background-color: #f8f5f2;
}

.title {
    text-align: center;
    font-size: 22px;
    padding-bottom: 40px;
}
